
.button-turno {
	padding: 10px 20px;
	border-radius: .25rem;
	background-color: #ff4747;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	height: 50px;
	line-height: 2.25rem;
	font-size: 0.875rem;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
.header {
	background-image: url("../imagenes/header.jpg");
	background-size: cover;
	background-position: center;
}
.container-inicio {
	height: 100vh;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	letter-spacing: 4px;
	background-color: #b1dff593;
	text-shadow: 2px 2px 2px rgb(168, 168, 168);
}